{
    "presets": [
        ["@babel/preset-env",{
            "targets": {
              "node": "current"
            },
            "production": {
                "presets": ["minify"]
            }
          }]
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime"]
    ]
}